* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:
    linear-gradient(
      0deg,
      rgba(163, 189, 237, 1) 0%,
      rgba(105, 145, 199, 1) 100%
    );
  background-repeat: no-repeat;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.launch-contain {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1em;
  margin-top: 2em;
}

.card-image > img {
  object-fit: contain;
  padding-left: 0.2em;
}

.material-icons {
  vertical-align: middle;
  padding-right: 0.5em;
}

.video-container {
  overflow: hidden;
  padding-top: 33.333333333336%;
  position: relative;
  padding-bottom: 0;
}

.video-container iframe {
  border: 0;
  height: 100%;
  left: 20%;
  position: absolute;
  top: 0;
  width: 65%;
}

.launch-details {
  width: 45%;
}

.card {
  margin: 0;
}

.jumbotron {
  padding-bottom: 150px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  margin: 0;
  color: #fff;
}

.home-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2em;
  margin-top: 2em;
}

.img__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img__wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #7a8e9e;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.img__text {
  color: white;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 0.8;
}

.coming-soon {
  font-size: 7rem;
  color: #fff;
  text-align: center;
  margin: 2em;
}

.collection {
  border: none;
}

.launch-details-container {
  color: #fff;
  background:
    linear-gradient(
      0deg,
      rgba(163, 189, 237, 1) 0%,
      rgba(105, 145, 199, 1) 100%
    );
  background-repeat: no-repeat;
  overflow: scroll;
  height: 100vh;
}

.main-launches-container {
  height: 100vh;
  overflow: auto;
}

::-webkit-scrollbar {
  /* float: left; */
}

.App {
  height: 100vh;
  overflow: hidden;
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.nav-contain {
  display: flex;
  justify-content: space-around;
}

.brand {
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
}
